body {
	background-color:#D5EAF4;
	font-family:'Josefin Sans', sans-serif;
	background:url(../images/sky.jpg) no-repeat center center fixed;
	background-size:cover
}

a {
	text-decoration:none;
	color:inherit;
}

#bannerabout {
	width:900px;
	height:220px;
	margin:auto;
	background:url(../images/eagle.jpg);
	background-size: cover;
	opacity:0.8;
	margin-top:15px;
}

body {
	background-color:#D5EAF4;
	font-family:'Josefin Sans', sans-serif;
	background:url(../images/sky.jpg) no-repeat center center fixed;
	background-size:cover
}

a {
	text-decoration:none;
	color:inherit;
}

#bannerabout {
	width:900px;
	height:220px;
	margin:auto;
	background:url(../images/eagle.jpg);
	background-size: 100% 100%;
	opacity:0.8;
	margin-top:15px;
}

#menu {
	width:900px;
	height:50px;
	margin:auto;
	margin-top:10px;
	opacity:0.6;
}

#home, #photos, #blog, #about {
	width:24.6%;
	height:98%;
	display:inline-block;
	background-color:white; 
	text-align:center;
}

#home:hover, #photos:hover, #blog:hover, #about:hover {
	background-color:black;
	color:white;
	opacity:1.0;
	transition: all 2s;
}

@media all and (min-width:480px) and (max-width:900px) {
	#bannerabout {
		width:90%;
		height:180px;
	}
		#menu {
		width:90%;
		height:40px;
		font-size:14px;
		margin-top:7px;
	}
	#home, #photos, #blog, #about {
		width:24.5%;
	}
}

@media all and (min-width:599px) and (max-width:714px) {
		#home, #photos, #blog, #about {
		width:24.4%;
	}
}

@media all and (min-width:515px) and (max-width:599px) {
		#home, #photos, #blog, #about {
		width:24.3%;
	}
}

@media all and (min-width:480px) and (max-width:515px) {
		#home, #photos, #blog, #about {
		width:24.2%;
		font-size:14px;
	}
}

@media all and (max-width:480px) {
	#bannerabout {
		width:390px;
		height:160px;
		background-size:100% 100%;
	}
	#menu {
		width:390px;
		height:34px;
		margin-top:5px;
	}
	#home, #photos, #blog, #about {
		width:24%;
		font-size:12px;
	}
}